In [1]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color,size) for color in colors for size in sizes]

In [2]:
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [3]:
for color in colors:
    for size in sizes:
        print((color,size))

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [4]:
tshirts = [(color,size) for color in colors
                         for size in sizes]   # This is more readable than the previous one

In [5]:
symbols = "$¢£¥€¤"
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [6]:
import array
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [7]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
for tshirt in ('%s %s' % (c,s) for c in colors
                               for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

In [8]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'),('ESP', 'XDA205856')]
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

for country, _ in traveler_ids:
    print(country)

BRA/CE342567
ESP/XDA205856
USA/31195855
USA
BRA
ESP

In [9]:
latitude, longitude = lax_coordinates

print(latitude)
print(longitude)

33.9425
-118.408056

In [10]:
divmod(20,8)

(2, 4)

In [11]:
t = (20,8)
divmod(*t)

(2, 4)

In [12]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [13]:
import os 
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
filename

'idrsa.pub'

In [14]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [15]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [16]:
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [17]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [18]:
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'

                |   lat.    |   long.

In [19]:
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

In [22]:
import collections
Card = collections.namedtuple('Card', ['rank', 'suit'])

In [23]:
Card

__main__.Card

In [28]:
from collections import namedtuple
City = namedtuple('City', ['name', 'country', 'population', 'coordinates'])

In [29]:
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

In [30]:
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [31]:
tokyo.population

36.933

In [32]:
tokyo.coordinates

(35.689722, 139.691667)

In [35]:
tokyo[1]

'JP'

In [36]:
City._fields

('name', 'country', 'population', 'coordinates')

In [38]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))

In [39]:
delhi_data

('Delhi NCR', 'IN', 21.935, LatLong(lat=28.613889, long=77.208889))

In [42]:
delhi = City._make(delhi_data)

In [44]:
delhi._asdict()

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': LatLong(lat=28.613889, long=77.208889)}

In [45]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

In [61]:
invoice = """
... 0.....6.................................40........52...55........
... 1909  Pimoroni PiBrella                     $17.50    3    $52.50
... 1489  6mm Tactile Switch x20                $4.95     2    $9.90
... 1510  Panavise Jr. - PV-201                 $28.00    1    $28.00
... 1601  PiTFT Mini Kit 320x240                $34.95    1    $34.95
... """

In [62]:
invoice

'\n0.....6.................................40........52...55........\n1909  Pimoroni PiBrella                     $17.50    3    $52.50\n1489  6mm Tactile Switch x20                $4.95     2    $9.90\n1510  Panavise Jr. - PV-201                 $28.00    1    $28.00\n1601  PiTFT Mini Kit 320x240                $34.95    1    $34.95\n'

In [63]:
SKU = slice(0, 6)

In [64]:
SKU = slice(0, 6)
DESCRIPTION = slice(6, 40)
UNIT_PRICE = slice(40, 52)
QUANTITY = slice(52, 55)
ITEM_TOTAL = slice(55, None)
line_items = invoice.split('\n')[2:]

In [65]:
line_items

['1909  Pimoroni PiBrella                     $17.50    3    $52.50',
 '1489  6mm Tactile Switch x20                $4.95     2    $9.90',
 '1510  Panavise Jr. - PV-201                 $28.00    1    $28.00',
 '1601  PiTFT Mini Kit 320x240                $34.95    1    $34.95',
 '']

In [66]:
for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

    $17.50   Pimoroni PiBrella
    $4.95    6mm Tactile Switch x20
    $28.00   Panavise Jr. - PV-201
    $34.95   PiTFT Mini Kit 320x240